<div *ngIf="!isBezug">
	<div class="" id="screen"
	     [ngClass]="{expanded: !hasSmallControlls, small: hasSmallControlls}">

		<div class="row">
			<div class="col s12">
				<div class="card grey darken-4">
					<div class="card-content white-text">
						<span class="card-title"><h4>{{title}}</h4></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12">
				<div class="video-padding-box">
					<div id="videoBox" class='box ratio16_9'>
						<div class="content">


							<vg-player
									(onPlayerReady)="onPlayerReady($event)">

								<vg-overlay-play></vg-overlay-play>
								<vg-buffering></vg-buffering>

								<vg-controls>
									<vg-play-pause></vg-play-pause>
									<vg-playback-button></vg-playback-button>

									<vg-time-display property="current" format="mm:ss"></vg-time-display>

									<vg-scrub-bar>
										<vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
										<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
										<!--<vg-scrub-bar-cue-points-->
												<!--[cuePoints]="metadataTrack.cues"></vg-scrub-bar-cue-points>-->
									</vg-scrub-bar>

									<vg-time-display property="left" format="mm:ss"></vg-time-display>
									<vg-time-display property="total" format="mm:ss"></vg-time-display>

									<vg-mute></vg-mute>

									<vg-fullscreen></vg-fullscreen>
								</vg-controls>

								<video vg-media id="singleVideo" preload="auto" [controls]="controls">
									<source [src]="source" type="video/mp4">

									<track [src]="track" kind="metadata" label="Cue Points" default
									       #metadataTrack
									       vgCuePoints
									       (onEnterCuePoint)="onEnterCuePoint($event)"
									       (onExitCuePoint)="onExitCuePoint($event)"
									       (onLoadCompleteCuePoints)="onLoadCompleteCuePoints($event)">

									<track [src]="metaTrack" kind="metadata" label="Meta Cue Points" default
									       #metametadataTrack
									       vgCuePoints
									       (onEnterCuePoint)="onEnterCuePoint($event)"
									       (onExitMetaCuePoint)="onExitCuePoint($event)"
									       (onLoadCompleteCuePoints)="onLoadCompleteMetaCuePoints($event)">
								</video>

							</vg-player>
						</div>

						<videoOverlay
								*ngIf="introVideoIsPlaying"
								(onVideoOverlayFinish)="onVideoOverlayFinish($event)"
								[source]="secondPlayerSource"
								class="second-player active"
								[ngClass]="{active: introVideoIsPlaying}">
						</videoOverlay>

					</div>
				</div>
			</div>
			<!--<div class="col s12 m5 l4">-->
			<!--<div class="card full grey darken-4">-->
			<!--<div class="card-content white-text">-->
			<!--<span class="card-title">Begleittext</span>-->
			<!--<div *ngIf="cuePointData.title">-->
			<!--<h5><a [href]="cuePointData.href">{{ cuePointData.title }}</a></h5>-->
			<!--<p>{{ cuePointData.description }}</p>-->
			<!--<img [src]="cuePointData.src" width="100%">-->
			<!--</div>-->
			<!--</div>-->
			<!--</div>-->
			<!--</div>-->

		</div>
	</div>

	<div *ngIf="!hasSmallControlls" class="section col" id="screen-sidebar-expanded">
			<div class="main" >


				<ul class="sidebar-collection"  #container *ngIf="!isMeta">
					<li *ngFor="let cuePoint of cuePoints" class="collection-item"
					    id="cuePoint{{cuePoint.id}}"
					    [ngClass]="{active:  cuePoint.id === avtivCue?.id}"
					    (click)="jumpToCue(cuePoint)">

						<div class="collapsible-header">
							<div class="collection-image ratio16_9">
								<div class="content">
									<img src="{{cuePoint.src}}" alt="" class="responsive-img">
								</div>
							</div>
							<div class="collection-header">
								<p class="title">{{cuePoint.title}}</p>
								<p>{{cuePoint.startTime | round}}</p>
							</div>
						</div>
						<div class="collapsible-body">
							<p>{{ cuePoint.description }}</p>
						</div>
					</li>
				</ul>

				<ul class="sidebar-collection" *ngIf="isMeta">
					<li *ngFor="let cuePoint of metaCuePoints" class="collection-item"
					    [ngClass]="{active:  cuePoint.id === metaAvtivCue?.id}"
					    (click)="jumpToCue(cuePoint)">

						<div class="collapsible-header">
							<div class="collection-image ratio16_9">
								<div class="content">
									<img src="{{cuePoint.src}}" alt="" class="responsive-img">
								</div>
							</div>
							<div class="collection-header">
								<span style="white-space: pre;" class="title">{{cuePoint.title}}</span>
								<p>{{cuePoint.startTime | round}}<br>
									Dauer: {{cuePoint.duration | round}}
								</p>
							</div>
						</div>
						<div class="collapsible-body">
							<p>{{ cuePoint.description }}</p>
						</div>
					</li>
				</ul>

			</div>
			<div class="down">
				<nav class="transparent">
					<div class="nav-wrapper">
						<ul>
							<li class="nav-up" (click)="prev()"><a>
								<i class="material-icons">keyboard_arrow_up</i></a>
							</li>
							<li class="nav-down" (click)="next()"><a>
								<i class="material-icons">keyboard_arrow_down</i></a>
							</li>
							<li class="nav-expand" (click)="minimize()"><a>
								<i class="material-icons">arrow_forward</i></a>
							</li>
							<li *ngIf="hasMeta" class="switch">
								<label>
									K
									<input type="checkbox" name="isActive" [(ngModel)]="isMeta">
									<span class="lever"></span>
									B
								</label>
							</li>

							<li *ngIf="hasKriterienClips" class="nav-speaker">
								<a *ngIf="!introVideosEnabled"
								   (click)="introVideosEnable()">
									<i class="material-icons">speaker_notes_off</i>
								</a>
								<a *ngIf="introVideosEnabled"
								   (click)="introVideosDisable()">
									<i class="material-icons">speaker_notes</i>
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
	</div>

	<div *ngIf="hasSmallControlls" class="section col" id="screen-sidebar-small">
			<div class="main">

				<!--<app-small-controlls-cue-->
					<!--*ngFor="let cuePoint of cuePoints"-->
					<!--class="SmallCue"-->
						<!--[position]="cuePoint.startTime"-->
						<!--[duration]="api.duration"-->
				        <!--[title]="cuePoint.title"-->
				<!--&gt;</app-small-controlls-cue>-->

				<div *ngFor="let cuePoint of cuePoints" class="SmallCue"
				     (click)="jumpToCue(cuePoint)"
				     [style.top.%]="(cuePoint.startTime / api?.duration * 100)">
                    <span>
                        {{cuePoint.title}}
                    </span>
				</div>

				<div class="SmallCue red"
				     [style.top.%]="(api?.time?.current / (api?.duration * 10))">
				</div>
			</div>

			<div class="down">
				<nav class="transparent">
					<div class="nav-wrapper">
						<ul>
							<li class="nav-up" (click)="prev()"><a>
								<i class="material-icons">keyboard_arrow_up</i></a>
							</li>
							<li class="nav-down" (click)="next()"><a>
								<i class="material-icons">keyboard_arrow_down</i></a>
							</li>
							<li *ngIf="hasKriterienClips" class="nav-speaker">
								<a *ngIf="!introVideosEnabled"
								   (click)="introVideosEnable()">
									<i class="material-icons">speaker_notes_off</i>
								</a>
								<a *ngIf="introVideosEnabled"
								   (click)="introVideosDisable()">
									<i class="material-icons">speaker_notes</i>
								</a>
							</li>
							<li class="nav-expand" (click)="maximize()"><a>
								<i class="material-icons">arrow_back</i></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
</div>


<div *ngIf="isBezug">
	<div class="" id="screen">
		<!--[ngClass]="{expanded: !hasSmallControlls, small: hasSmallControlls}-->


		<div class="row">
			<div class="col s12">
				<div class="card grey darken-4">
					<div class="card-content white-text">
						<span class="card-title"><h4>{{titel}}</h4></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12">
				<div class="video-padding-box">
					<div id="videoBox" class='box ratio16_9'>
						<div class="content">

							<vg-player
									(onPlayerReady)="onPlayerReady($event)">

								<vg-overlay-play></vg-overlay-play>

								<vg-controls>
									<vg-play-pause></vg-play-pause>
									<vg-playback-button></vg-playback-button>

									<vg-time-display property="current" format="mm:ss"></vg-time-display>

									<vg-scrub-bar>
										<vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
										<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
									</vg-scrub-bar>

									<vg-time-display property="left" format="mm:ss"></vg-time-display>
									<vg-time-display property="total" format="mm:ss"></vg-time-display>

									<vg-mute></vg-mute>

									<vg-fullscreen></vg-fullscreen>
								</vg-controls>

								<video vg-media id="singleVideo" preload="auto" [controls]="controls">
									<source [src]="source" type="video/mp4">


								</video>

							</vg-player>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>