<div class="container grey darken-2">
  <div class="section">
    <div class="row">

      <div *ngFor="let page of modul.pages"
           class="col s12 m6 {{page.color}} white-text card module half">

        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{page.img}}">
        </div>
        <div class="card-content">
          <div>
            <span class="card-title activator">{{page.menuName}}</span>
            <a>
              <!--<i class="material-icons right">-->
              <!--info-->
              <!--</i>-->
            </a>
          </div>
          <div *ngIf="page.subtitle" class="card-sub-title activator">{{page.subtitle}}</div>
        </div>
        <div class="card-reveal">
          <div class="card-reveal-header">
            <div class="card-title">
              {{page.menuName}}
              <i class="material-icons right">
                close
              </i>
            </div>
            <div *ngIf="page.subtitle" class="card-sub-title">{{page.subtitle}}</div>
          </div>

          <p style="white-space: pre;">{{page.descriptition}}</p>


          <ul class="navigation-list">
            <li *ngFor="let subpage of page.subPages">
              <a  href="#/page/{{subpage.$href | uriEncode}}" class="white-text">
                {{subpage.menuName}}
              </a>
            </li>
          </ul>


          <ul class="navigation-list" *ngIf="page.transkript != null && page.transkript != undefined">
            <li>
              <a  href="#/pdf/{{page.transkript | uriEncode}}"
                  class="white-text">
                <!--href="{{page.transkript}}" -->

                Transkript
              </a>
            </li>
            <li>
              <a href="{{page.material}}" class="white-text">
                Materialien
              </a>
            </li>
          </ul>


        </div>
      </div>

    </div>
  </div>
</div>