<div class=""
	[ngClass]="{active: introVideoIsPlaying}">

	<vg-player (onPlayerReady)="onSecondPlayerReady($event)">

		<vg-overlay-play vg-for="overlayVideo" ></vg-overlay-play>

		<vg-controls>
			<vg-play-pause vg-for="overlayVideo" ></vg-play-pause>
			<vg-playback-button vg-for="overlayVideo"></vg-playback-button>

			<vg-time-display vg-for="overlayVideo" property="current" format="mm:ss"></vg-time-display>

			<vg-scrub-bar vg-for="overlayVideo">
				<vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
				<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			</vg-scrub-bar>


			<vg-mute> vg-for="overlayVideo"</vg-mute>

			<vg-fullscreen vg-for="overlayVideo"></vg-fullscreen>
		</vg-controls>

		<video vg-media #media id="overlayVideo" preload="auto" autoplay >
			<source [src]="source" type="video/mp4">
		</video>

	</vg-player>

</div>